.wrapper {
  position: relative;
  display: block;
  translate: 0 3px;
}

.img {
  display: block;
  width: 150px;
  height: auto;
}
.text {
  font-size: 0.75rem;
  color: #999999;
}

@media (max-width: 767px) {
  .img {
    width: 130px;
  }
}
