.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  display: block;
  width: 70px;
  height: auto;
}
.square img {
  width: 35px;
}
.text {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
.name span {
  color: var(--c-yellow);
}
.descr {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.1;
}

@media (max-width: 767px) {
}
