.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  display: block;
  width: 70px;
  height: auto;
}
.text {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
.name span {
  color: var(--c-yellow);
}
.descr {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .img {
    width: 130px;
  }
}
