.wrapper {
}
.promo {
}
.catalog {
  padding-top: 140px;
  margin-bottom: 80px;
}
.about {
  margin-bottom: 80px;
}
.delivery {
  margin-bottom: 80px;
}

@media (max-width: 575px) {
  .catalog {
    padding-top: 50px;
  }
}
