.wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--c-dark);
  translate: 0 -100%;
  transition: var(--transition);
  color: #fff;
}
.wrapper.active {
  translate: 0 0;
}
.logo {
  position: absolute;
  top: 10px;
  left: 15px;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  min-height: 100dvh;
}
.menu .list {
  display: none;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-top: 30px;
}
.messengers {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: auto;
  margin-top: 15px;
}
.messengers svg {
  width: 23px;
  height: 23px;
  fill: #fff;
}
