.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: var(--radius-2);
  background: var(--c-grey);
}
.title {
  font-size: 1.125rem;
}
.line {
  width: 100px;
  height: 2px;
  background: var(--c-yellow);
}
.text {
  font-size: 0.875rem;
}
