.wrapper {
  position: relative;
  padding-top: 140px;
}
.imgBox {
  position: absolute;
  top: -36px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img1 {
  width: 250px;
  height: auto;
}
.img2 {
  height: auto;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.stars {
  display: flex;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  max-width: 900px;
  font-size: 1.25rem;
  text-align: center;
}
.videoPlayer {
  margin-top: 40px;
}
.advantages {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .imgBox {
    top: -29px;
  }
  .img1 {
    width: 200px;
  }
  .img2 {
    width: 150px;
  }
  .subtitle {
    font-size: 1.125rem;
  }
}
@media (max-width: 575px) {
  .wrapper {
    padding-top: 100px;
  }
  .head {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  .stars:first-child {
    display: none;
  }
  .subtitle {
    font-size: 1rem;
  }
  .advantages {
    display: none;
    margin-top: 60px;
  }
}
