.wrapper {
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 991px) {
  .column {
    gap: 30px;
  }

  .row {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 575px) {}

@media (max-width: 480px) {
  .column {
    gap: 40px;
  }
}