.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 45px;
  padding: 0 25px;
  border-radius: 50px;
  border: 0;
  transition: 0.1s;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--c-dark);
}
.wrapper.green {
  background: var(--c-green-2);
}
.wrapper.green:hover {
  background: var(--c-green-hover);
}
.wrapper.yellow {
  background: var(--c-yellow);
  border: 2px solid var(--c-yellow);
  color: var(--c-black);
}
.wrapper.yellow:hover {
  background: #fff;
  color: var(--c-dark);
}
.wrapper.yellow.stroked {
  background: transparent;
  border: 2px solid var(--c-yellow);
  color: var(--c-black);
}
.wrapper.yellow.stroked:hover {
  background: var(--c-yellow);
}
.wrapper.white {
  background: #fff;
}
.wrapper.white:hover {
  background: var(--c-black);
  color: var(--c-white);
}
.wrapper.grey {
  background: var(--c-grey);
}
.wrapper.grey:hover {
  background: var(--c-black);
  color: var(--c-white);
}
.wrapper.black {
  background: var(--c-dark);
  color: #fff;
}
.wrapper.black:hover {
  background: var(--c-black);
}
.wrapper.l {
  height: 55px;
  font-size: 0.875rem;
}
.wrapper.s {
  height: 30px;
  padding: 0px 15px;
  border: 0px;
  border-radius: 7px;
}
.wrapper:disabled {
  pointer-events: none;
}
.loader {
  position: absolute;
  top: 50%;
  right: 15px;
  translate: 0 -50%;
}
