.wrapper {
  position: relative;
  z-index: 100;
  background: var(--c-white);
  border-bottom: 1px solid var(--c-grey);
}

.top {
  background: var(--c-dark);
}

.topInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.bottomInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  column-gap: 30px;
}
.messengers {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
.messengers svg {
  width: 23px;
  height: 23px;
}
.messengers a:nth-child(1) svg {
  fill: #25d366;
}
.messengers a:nth-child(2) svg {
  fill: #34b7f1;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.navbar {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.wrapper .burger {
  display: none;
}

@media (max-width: 991px) {
  .messengers {
    display: none;
  }
}

@media (max-width: 767px) {
  .bottomInner {
    padding: 10px 0;
  }
  .navbar {
    display: none;
  }
  .links {
    margin-left: auto;
  }
  .wrapper .burger {
    display: flex;
  }
}

@media (max-width: 575px) {
  .logo img {
    width: 110px;
  }
  .messengers {
    display: flex;
  }
  .links {
    display: none;
  }
}
