.wrapper {
  position: relative;
  z-index: 100;
  background: var(--c-white);
  border-bottom: 1px solid var(--c-grey);
}

.top {
  background: var(--c-dark);
}

.topInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.bottomInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  column-gap: 30px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.navbar {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.wrapper .burger {
  display: none;
}

@media (max-width: 767px) {
  .bottomInner {
    padding: 10px 0;
  }
  .navbar {
    display: none;
  }
  .links {
    margin-left: auto;
  }
  .wrapper .burger {
    display: flex;
  }
}

@media (max-width: 575px) {
  .links {
    display: none;
  }
}
