.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.1s;
  padding: 1px 0;
}

.wrapper:hover {
  color: var(--c-yellow);
}

.wrapper:hover .icon {
  fill: var(--c-yellow);
}

.icon {
  width: 16px;
  height: 16px;
  transition: fill 0.1s;
}