.wrapper {
  position: relative;
  background: #f5f4f5;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
.inner {
  position: relative;
  padding: 110px 0;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
}
.logo img {
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.contentHead {
  margin-bottom: 30px;
}
.title {
  font-size: 4rem;
  font-weight: 700;
}
.subtitle {
  font-size: 1.65rem;
  font-weight: 300;
}
.title span {
  color: var(--c-green-2);
}
.description {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}
.button {
  margin-top: 40px;
}
.gallery {
}
.galleryItem {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.4;
  border-radius: var(--radius-2);
}

@media (max-width: 1199px) {
  .inner {
    padding: 100px 0;
  }
  .grid {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 3.5rem;
  }
}
@media (max-width: 575px) {
  .inner {
    padding: 80px 0;
  }
  .title {
    font-size: 12vw;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .button {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
}
