:root {
  --c-black: #000;
  --c-dark: #1f1f1f;
  --c-white: #fff;
  --c-grey: #fafafa;
  --c-grey-2: #e5e5e5;
  --c-grey-3: #f5f4f5;
  --c-red: #f15a24;
  --c-yellow: #fcdb5a;
  --c-green-1: #e7f7d5;
  --c-green-2: #abca37;
  --c-green-3: #2f913a;
  --c-green-hover: rgb(163, 221, 97);
  --radius-1: 12px;
  --radius-2: 22px;
  --radius-3: 36px;
  --transition: 0.2s;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  scroll-behavior: smooth;
}
html {
  scrollbar-gutter: stable;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: var(--c-dark);
}
main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #ededed;
}

/* Стили для ползунка (двигающейся части) */
.scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  font-family: inherit;
}
h1 {
  font-size: 4.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
h6 {
  font-size: 1.125rem;
  font-weight: 500;
}
p {
  margin: 0;
}
b {
  font-weight: 600;
}
input {
  background: transparent;
  border: 0;
  font-size: 1rem;
}
.input::placeholder {
  opacity: 0.6;
}
input:focus {
  outline: none;
  border-color: var(--c-dark);
}
input.not-valid {
  border-color: var(--c-red);
}
textarea {
  background: transparent;
  border: 0;
  font-size: 1rem;
}
.textarea::placeholder {
  opacity: 0.6;
}
textarea:focus {
  outline: none;
  border-color: var(--c-dark);
}
* {
  box-sizing: border-box;
}
.highlight {
  color: var(--c-yellow);
}
.box {
  padding: 30px;
  border-radius: var(--radius-2);
  background: var(--c-grey);
}
p {
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  height: 100%;
}
.swiper-slide {
  height: 100%;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 575px) {
  h2 {
    font-size: 1.8rem;
  }
}
