.wrapper {
  margin-bottom: 140px;
}
.promo {
}
.content {
}
.contentInner {
  position: relative;
  padding-top: 60px;
}
.backLink {
  margin-top: 15px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.gridContent {
  display: flex;
  flex-direction: column;
}
.title {
}
.contentText {
  margin-top: 30px;
  flex-grow: 1;
  font-size: 1.25rem;
}
.buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 50px;
}

@media (max-width: 1199px) {
  .inner {
    padding: 100px 0;
  }
  .grid {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .button {
    position: relative;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
  .contentInner {
    padding-top: 30px;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .contentText {
    font-size: 1.125rem;
  }
}