.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.icon {
  display: flex;
}
.content {
}
.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.25rem;
}
.description {
  line-height: 1.5;
  color: #666;
}

@media (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
