.wrapper {
  background: #fff;
}
.promo {
}
.catalog {
  padding-top: 100px;
  margin-bottom: 140px;
}
.about {
}
.quality {
  margin-bottom: 140px;
}

.news {
  margin-bottom: 140px;
}

@media (max-width: 1199px) {
  .catalog {
    margin-bottom: 100px;
  }
  .quality {
    margin-bottom: 100px;
  }

  .news {
    margin-bottom: 100px;
  }
}

@media (max-width: 575px) {
  .catalog {
    padding-top: 50px;
  }
}
