.wrapper {
}
.inner {
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content {
  padding: 50px 50px;
  background: var(--c-grey);
  border-radius: var(--radius-2);
}
.title {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}
.description {
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: italic;
}
.gallery {
}
.galleryItem {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.4;
  border-radius: var(--radius-2);
}
.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 15px;
}
@media (max-width: 1199px) {
  .galleryItem {
    overflow: hidden;
    border-radius: var(--radius-2);
    aspect-ratio: 1.3;
  }
}
@media (max-width: 767px) {
  .content {
    padding: 30px;
  }

  .description {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 0;
    background: transparent;
  }
  .title {
    margin-bottom: 30px;
  }
}
