.wrapper {
}
.inner {
}
.grid {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 15px;
  background: var(--c-grey);
  border-radius: var(--radius-2);
}
.gallery {
  overflow: hidden;
  border-radius: var(--radius-2);
}
.content {
  padding: 80px 50px;
}
.title {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}
.description {
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: italic;
}
.gallery {
}
.galleryItem {
  position: relative;
}
.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 15px;
}
@media (max-width: 1199px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-row: 2;
    aspect-ratio: 0;
  }
  .galleryItem {
    overflow: hidden;
    border-radius: var(--radius-2);
    aspect-ratio: 1.3;
  }
}
