.wrapper {}

.inner {}

.head {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 300;
}

@media (max-width: 575px) {
  .head {
    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 1.125rem;
  }
}