.wrapper {
  position: absolute;
  z-index: 2;
  left: 50%;
  translate: -50% 0;
  bottom: -55px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper span {
  width: 5px;
  height: 110px;
  background: var(--c-yellow);
  border-radius: 5px;
}
.wrapper span:nth-child(1) {
  height: 60px;
}
.wrapper span:nth-child(3) {
  height: 60px;
}
.wrapper.animate span:nth-child(1) {
  animation: lineAnimate 1s;
}
.wrapper.animate span:nth-child(2) {
  animation: lineAnimate2 1s;
}
.wrapper.animate span:nth-child(3) {
  animation: lineAnimate 1s;
}
@keyframes lineAnimate {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes lineAnimate2 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -20px;
  }
  100% {
    translate: 0 0;
  }
}

@media (max-width: 767px) {
  .wrapper {
    display: none;
  }
  .wrapper span {
    height: 90px;
  }
  .wrapper span:nth-child(1) {
    height: 40px;
  }
  .wrapper span:nth-child(3) {
    height: 40px;
  }
}
